<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vini.oliveira.nl</string>
	<key>connections</key>
	<dict>
		<key>6DED0FCD-B485-4D7D-A4B7-673C0D34E2D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA714745-B63F-46C5-9D77-50C52956368C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>92D64A89-7A9B-4D80-8912-9D50889D1C14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94C5AE38-D2B0-46A1-AA4F-9BC20C2C946F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA714745-B63F-46C5-9D77-50C52956368C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92D64A89-7A9B-4D80-8912-9D50889D1C14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vinicius Oliveira</string>
	<key>description</key>
	<string>Change or List all Network locations</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Network Location</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>netl</string>
				<key>runningsubtext</key>
				<string>Searching location ...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./alfred2_location_workflow.rb {query}</string>
				<key>title</key>
				<string>Search Network Location for '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA714745-B63F-46C5-9D77-50C52956368C</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>sh ./sudo.sh networksetup -switchtolocation {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>92D64A89-7A9B-4D80-8912-9D50889D1C14</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6DED0FCD-B485-4D7D-A4B7-673C0D34E2D0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Network Location</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>94C5AE38-D2B0-46A1-AA4F-9BC20C2C946F</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Lists top ten system processes by CPU or Memory usage. Provide actions to kill.</string>
	<key>uidata</key>
	<dict>
		<key>6DED0FCD-B485-4D7D-A4B7-673C0D34E2D0</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>92D64A89-7A9B-4D80-8912-9D50889D1C14</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>94C5AE38-D2B0-46A1-AA4F-9BC20C2C946F</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>CA714745-B63F-46C5-9D77-50C52956368C</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/vinioliveira</string>
</dict>
</plist>
